li a {
    color: blue;
}

a:hover {
	size: 300%;
	font-weight: bolder;
	color: white;
}

h1{
	font-size: 50px;
	font-weight: bolder;
	text-align: center;
}

body {
    background: white url("images/dog.jpg"); 
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}


.post{
	background-color: white;

}
.page-header {
    background-color: midnightblue;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
}

.page-header h2, .page-header h2 a, .page-header h2 a:visited, .page-header h2 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}


.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

