a:hover {
	size: 300%;
	font-weight: bolder;
	color: white;
}

h1{
	font-size: 50px;
	font-weight: bolder;
	text-align: center;
}


body {
    background: white url("images/dog2.jpg"); 
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

p{
    color: black;
    letter-spacing: 1px;
	text-align: left;
	word-wrap: break-word;
	max-width: 90vw;
}


.post{
	background-color: #D8D8D8;
	font-family: 'helvetica neue', helvetica, sans-serif; 
	letter-spacing: 1px;
	text-align: left;
	padding: 3px 10px;
	margin: 10px 10px;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	width:-moz-max-content;
	width: -webkit-fit-content;
}

.page-header {
    background-color: midnightblue;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
}

.glyphicon:hover{
    font-size: 125%;
	font-weight: bolder;
	color: #819FF7;
}

.page-header h2, .page-header h2 a, .page-header h2 a:visited, .page-header h2 a:active, h2 .page-header:hover a:hover{
    color: red;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}


.date {
    color: #424242;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}
.btn{
    float: right;
}

.page-footer{
	float:right;
	background-color: midnightblue;
    margin-bottom: 0;
    padding: 20px 20px 20px 20px;
    position:fixed;
    bottom:0;
    right:0;
    
}

